In [0]:
from google.colab import files
uploaded = files.upload()

Saving train_E6oV3lV.csv to train_E6oV3lV.csv

# https://datahack.analyticsvidhya.com/contest/practice-problem-twitter-sentiment-analysis/  

Enroll to get dataset on twitter sentiment analysis

# Objective: To Preprocess Text data from Twitter comments to aid in sentiment analysis

In [0]:
import pandas as pd
import io

train = pd.read_csv(io.StringIO(uploaded['train_E6oV3lV.csv'].decode('utf-8')))
train

          id  label                                              tweet
0          1      0   @user when a father is dysfunctional and is s...
1          2      0  @user @user thanks for #lyft credit i can't us...
2          3      0                                bihday your majesty
3          4      0  #model   i love u take with u all the time in ...
4          5      0             factsguide: society now    #motivation
5          6      0  [2/2] huge fan fare and big talking before the...
6          7      0   @user camping tomorrow @user @user @user @use...
7          8      0  the next school year is the year for exams.ð...
8          9      0  we won!!! love the land!!! #allin #cavs #champ...
9         10      0   @user @user welcome here !  i'm   it's so #gr...
10        11      0   â #ireland consumer price index (mom) climb...
11        12      0  we are so selfish. #orlando #standwithorlando ...
12        13      0  i get to see my daddy today!!   #80days #getti...
13        14      1  @user #cnn calls #michigan middle school 'buil...
14        15      1  no comment!  in #australia   #opkillingbay #se...
15        16      0  ouch...junior is angryð#got7 #junior #yugyo...
16        17      0  i am thankful for having a paner. #thankful #p...
17        18      1                             retweet if you agree!
18        19      0  its #friday! ð smiles all around via ig use...
19        20      0  as we all know, essential oils are not made of...
20        21      0  #euro2016 people blaming ha for conceded goal ...
21        22      0  sad little dude..   #badday #coneofshame #cats...
22        23      0  product of the day: happy man #wine tool  who'...
23        24      1    @user @user lumpy says i am a . prove it lumpy.
24        25      0   @user #tgif   #ff to my #gamedev #indiedev #i...
25        26      0  beautiful sign by vendor 80 for $45.00!! #upsi...
26        27      0   @user all #smiles when #media is   !! ðð...
27        28      0  we had a great panel on the mediatization of t...
28        29      0        happy father's day @user ðððð
29        30      0  50 people went to nightclub to have a good nig...
...      ...    ...                                                ...
31932  31933      0                               @user thanks gemma
31933  31934      1  @user judd is a  &amp; #homophobic #freemilo #...
31934  31935      1  lady banned from kentucky mall. @user  #jcpenn...
31935  31936      0  ugh i'm trying to enjoy my happy hour drink &a...
31936  31937      0  want to know how to live a   life? do more thi...
31937  31938      0                                 love island ð
31938  31939      0  my fav actor #vijaysethupathi ! my fav actress...
31939  31940      0      whew  ð
 it's a productive and   #friday!!!
31940  31941      0                 @user she's finally here! @user
31941  31942      0  passed first year of uni #yay #love #pass #uni...
31942  31943      0  this week is flying by   #humpday - #wednesday...
31943  31944      0   @user modeling photoshoot this friday yay #mo...
31944  31945      0  you're surrounded by people who love you (even...
31945  31946      0  feel like... ðð¶ð #dog #summer #hot #h...
31946  31947      1  @user omfg i'm offended! i'm a  mailbox and i'...
31947  31948      1  @user @user you don't have the balls to hashta...
31948  31949      1   makes you ask yourself, who am i? then am i a...
31949  31950      0  hear one of my new songs! don't go - katie ell...
31950  31951      0   @user you can try to 'tail' us to stop, 'butt...
31951  31952      0  i've just posted a new blog: #secondlife #lone...
31952  31953      0                @user you went too far with @user
31953  31954      0  good morning #instagram #shower #water #berlin...
31954  31955      0  #holiday   bull up: you will dominate your bul...
31955  31956      0  less than 2 weeks ð
ðð¼ð¹ððµ @us...
31956  31957      0  off fishing tomorrow @user carnt wait first ti...
31957  31958      0  ate @user isz that youuu?ðððððð...
31958  31959      0    to see nina turner on the airwaves trying to...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  @user #sikh #temple vandalised in in #calgary,...
31961  31962      0                   thank you @user for you follow

[31962 rows x 3 columns]

# 1. Feature Extraction

In [0]:


   # 1.1 Number of Words (using split function)
  train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [0]:

   # 1.2 Number of characters (including spaces)
  train['char_count'] = train['tweet'].str.len() ## this also includes spaces
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [0]:

   # 1.3 Average Word Length
  def avg_word(sentence):
      words = sentence.split()
      return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['tweet'].apply(lambda x: avg_word(x))
train[['tweet','avg_word']].head()

                                               tweet  avg_word
0   @user when a father is dysfunctional and is s...  4.555556
1  @user @user thanks for #lyft credit i can't us...  5.315789
2                                bihday your majesty  5.666667
3  #model   i love u take with u all the time in ...  4.928571
4             factsguide: society now    #motivation  8.000000

In [0]:
# 1.4 Number of stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [0]:
# 1.5 Number of special characters
train['hastags'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['tweet','hastags']].head()

                                               tweet  hastags
0   @user when a father is dysfunctional and is s...        1
1  @user @user thanks for #lyft credit i can't us...        3
2                                bihday your majesty        0
3  #model   i love u take with u all the time in ...        1
4             factsguide: society now    #motivation        1

In [0]:
# 1.6 Number of numerics
train['numerics'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['tweet','numerics']].head()

                                               tweet  numerics
0   @user when a father is dysfunctional and is s...         0
1  @user @user thanks for #lyft credit i can't us...         0
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         0
4             factsguide: society now    #motivation         0

In [0]:
# 1.7 Number of Uppercase words
train['upper'] = train['tweet'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['tweet','upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0

# 2. Text Pre-processing and cleaning words not suitable for classification

In [0]:
# 2.1 Transform tweets to Lower case
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [0]:
# 2.2 Removing Punctuation
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
train['tweet'].head()

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
Name: tweet, dtype: object

In [0]:
# 2.3 stop words removal
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['tweet'].head()

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [0]:
# 2.4 Common word removal ( frequency of 10 words removal based on their utility for classification)
  # To check utility of 10 most frequent words:
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[:10]
freq

user     17473
love      2647
ð         2511
day       2199
â         1797
happy     1663
amp       1582
im        1139
u         1136
time      1110
dtype: int64

In [0]:
    # Based on previous result, freq of words not suit for classification, 
    #  so, delete frequent common words
 freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [0]:
# 2.5 Rare words removal
freq = pd.Series(' '.join(train['tweet']).split()).value_counts()[-10:]
freq

skrin              1
newthings          1
colorblind         1
myneighborhood     1
leaps              1
peaceâð            1
pembroke           1
singleâ            1
whoyougonnacall    1
manicurist         1
dtype: int64

In [0]:
freq = list(freq.index)
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['tweet'].head()

0    father dysfunctional selfish drags kids dysfun...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [0]:
!pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/7c/7d/ad09a26b63d4ad3f9395840c72c95f2fc9fa2b192094ef14e9e720be56f9/textblob-0.15.2-py2.py3-none-any.whl (636kB)
    100% |████████████████████████████████| 645kB 7.0MB/s
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.11.0)
Installing collected packages: textblob
Successfully installed textblob-0.15.2

In [0]:
# 2.6 Spelling correction

from textblob import TextBlob
train['tweet'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    father dysfunctional selfish drags kiss dysfun...
1    thanks left credit can use cause dont offer wh...
2                                       midday majesty
3                               model take or ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

In [0]:
# 2.7 Tokenization
nltk.download('punkt')
TextBlob(train['tweet'][1]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

WordList(['thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [0]:
# 2.8 Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0        father dysfunct selfish drag kid dysfunct run
1    thank lyft credit cant use caus dont offer whe...
2                                       bihday majesti
3                              model take urð ðððð ððð
4                              factsguid societi motiv
Name: tweet, dtype: object

In [0]:
# 2.9 Lemmatization
nltk.download('wordnet')
from textblob import Word
train['tweet'] = train['tweet'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['tweet'].head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

0    father dysfunctional selfish drag kid dysfunct...
1    thanks lyft credit cant use cause dont offer w...
2                                       bihday majesty
3                              model take urð ðððð ððð
4                        factsguide society motivation
Name: tweet, dtype: object

# Only highlighted Pre-processing, much analysis need to be done using word embeddings and word to vector conversion for model building